<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Informacje o lekarzu dla Admina</title>
</head>
<body>

<div style="text-align:center; ">

    <h2>Centrum informacji o lekarzach - Zmiana danych lekarza!</h2>
    <h5 th:text="${userObject.isLogin() ? 'Jesteś zalogowany!' :
            'Jesteś niezalogowany! Aby dodawać komentarze, musisz się zalogować!'}"></h5>
    <h5 th:if="${userObject.isLogin()}" th:text="'Twój username to: ' +
            ${userObject.getUserEntity().getUsername()}"></h5>

    <h4 class="alert alert-success"  th:text="${doctorData.getCity()}+' - '+${doctorData.getSpecialization()}+' - '+
                                ${doctorData.getName()}+' '+${doctorData.getSurname()}+' - tel: '+
                                ${doctorData.getPhoneNumber()}+' - liczba opinii: '+
                                ${doctorData.getQuantityOfComments()}
                                +' - średnia ocena: '+${doctorData.getAverageRating()}"></h4>

    <div class="alert-heading" th:each="comment : ${doctorData.getComments()}">
        <h6 class="alert-heading"  th:text="${comment.getUser().getUsername()}+
                    ' - '+${comment.getCommentDate()}+' - ocena: '+${comment.getRating()}"></h6>
        <h5 class="alert-heading" th:text="${comment.getContext()}"></h5>   <br/>
    </div>      <br/>

    <a href="/index"><input type="submit" value="Strona główna!" class="btn btn-default"></a>   <br/><br/>

    <div th:if="${userObject.isLogin() && userObject.getUserEntity().getId() == 1}" >

        <div th:if="${infoAboutEmptyForm != null}" class="alert alert-danger">
            <strong th:text="${infoAboutEmptyForm}"></strong>
        </div>

        <div th:if="${infoAboutErrors != null}" class="alert alert-danger">
            <strong th:text="${infoAboutErrors}">Error</strong>
        </div>

        <form th:action="'/change/' + ${doctorData.getId()}" method="post" th:object="${doctorForm}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
            <input type="text" th:field="*{name}" class="form-control" placeholder="Imię"/> <br/>

            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error</span>
            <input type="text" th:field="*{surname}" class="form-control" placeholder="Nazwisko"/> <br/>

            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Error</span>
            <input type="text" th:field="*{city}" class="form-control"  placeholder="Miasto" /> <br/>

            <span th:if="${#fields.hasErrors('specialization')}" th:errors="*{specialization}">Error</span>
            <input type="text" th:field="*{specialization}" class="form-control" placeholder="Specjalizacja"/> <br/>

            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Error</span>
            <input type="text" th:field="*{phoneNumber}" class="form-control"
                   placeholder="Numer w formacje: xxx-xxx-xxx"/> <br/>

            <input type="submit" value="Admin: Zmień dane lekarza!" class="btn btn-default">
        </form>

    </div>      <br/>

</div>

</body>
</html>