<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Admin - usuwanie komentarza</title>
</head>
<body>

<div style="text-align:center; ">

    <h2>Centrum informacji o lekarzach - usuwanie komentarza!</h2>
    <h5 th:text="${userObject.isLogin() ? 'Jesteś zalogowany!' :
            'Jesteś niezalogowany! Aby dodawać komentarze, musisz się zalogować!'}"></h5>
    <h5 th:if="${userObject.isLogin()}" th:text="'Twój username to: ' +
            ${userObject.getUserEntity().getUsername()}"></h5>

    <h4 class="alert alert-success"  th:text="${doctorData.getCity()}+' - '+${doctorData.getSpecialization()}+' - '+
                                ${doctorData.getName()}+' '+${doctorData.getSurname()}+' - tel: '+
                                ${doctorData.getPhoneNumber()}+' - liczba opinii: '+
                                ${doctorData.getQuantityOfComments()}
                                +' - średnia ocena: '+${doctorData.getAverageRating()}"></h4>

    <div th:if="${infoAboutCommentDelete != null}" class="alert alert-danger">
        <strong th:text="${infoAboutCommentDelete}"></strong>
    </div>


    <div th:if="${userObject.isLogin() && userObject.getUserEntity().getId() != 1}" >

        <div class="alert-heading" th:each="comment : ${doctorData.getComments()}">
            <a th:href="'/deleteMyCommentById/' + ${doctorData.getId()} + '/' + ${comment.getId()}" >
                <h6 class="alert-heading"  th:text="${comment.getUser().getUsername()}+
                    ' - '+${comment.getCommentDate()}+' - ocena: '+${comment.getRating()}"></h6>
                <h5 class="alert-heading" th:text="${comment.getContext()}"></h5><br/>
            </a>
        </div><br/>

    </div><br/>


    <div th:if="${userObject.isLogin() && userObject.getUserEntity().getId() == 1}" >

        <div class="alert-heading" th:each="comment : ${doctorData.getComments()}">
            <a th:href="'/deleteCommentById/' + ${doctorData.getId()} + '/' + ${comment.getId()}" >
                <h6 class="alert-heading"  th:text="${comment.getUser().getUsername()}+
                    ' - '+${comment.getCommentDate()}+' - ocena: '+${comment.getRating()}"></h6>
                <h5 class="alert-heading" th:text="${comment.getContext()}"></h5>   <br/>
            </a>
        </div><br/>

    </div><br/>

    <a href="/index"><input type="submit" value="Strona główna!" class="btn btn-default"></a>   <br/>

</div>

</body>
</html>