<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>

        function sendData() {
            var doctorDescription = document.getElementById('doctors').value;

            window.location.href = "/" + doctorDescription ;
        }

        function onInputEdited() {
            var doct = document.getElementById('doctors').value;
            callToServer(doct);
        }

        function callToServer(typedLetters) {
            console.log(typedLetters);
            $.ajax({
                url: "/doctors/findDoctorByLetters/" + typedLetters,
                type: "get",
                success: function(response) {
                        var list = document.getElementById('hints');
                        list.innerHTML = "";

                        response.forEach(function (oneElement) {
                            var option = document.createElement('option');
                            option.value = oneElement;
                            list.appendChild(option);
                        })
                },
                error: function(xhr) {
                }
            });
        }

    </script>

    <title>Lista lekarzy</title>

</head>
<body>
    <div style="text-align:center; ">

        <h2>Centrum informacji o lekarzach - Wyniki wyszukiwania!</h2>
        <h5 th:text="${userObject.isLogin() ? 'Jesteś zalogowany!' :
            'Jesteś niezalogowany! Aby dodawać komentarze, musisz się zalogować!'}"></h5>
        <h5 th:if="${userObject.isLogin()}" th:text="'Twój username to: ' +
            ${userObject.getUserEntity().getUsername()}"></h5>

        <div th:if="${infoAboutSearch != null}" class="alert-heading">
            <h6 th:text="${infoAboutSearch}"></h6>
        </div>

        <br/>

        <div style="text-align: center;  ">

            <input class="form-control" oninput="onInputEdited()"  id="doctors" list="hints"
                   placeholder="Wyszukaj wpisując litery">

            <datalist id="hints">
            </datalist>

            <button onclick="sendData()" class="btn btn-default">Pokaż szczegóły!</button>

        </div>

        <br/>

        <div class="alert alert-success" th:each="doctor : ${doctors}">
            <a th:href="'/doctor/' + ${doctor.getId()}" >
                <h4 class="alert-heading"  th:text="${doctor.getCity()}+' - '+${doctor.getSpecialization()}+' - '+
                                ${doctor.getName()}+' '+${doctor.getSurname()}+' - tel: '+
                                ${doctor.getPhoneNumber()}+' - liczba opinii: '+${doctor.getQuantityOfComments()}
                                +' - średnia ocena: '+${doctor.getAverageRating()}"></h4>
            </a>
        </div>

        <br/><br/>

        <div th:if="${doctors.size() == 0}" class="alert alert-danger">
            <h6>Nie znaleliono lekarza spełniającego wymogi wyszukiwania!</h6>
        </div>

        <a href="/index"><input type="submit" value="Strona główna!" class="btn btn-default"></a><br/><br/>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wyświetl wszystkich lekarzy!
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/allDoctorsByRating">Sortowanie: ocena</a>
                <a class="dropdown-item" href="/allDoctorsByCity">Sortowanie: miasto</a>
                <a class="dropdown-item" href="/allDoctorsBySpecialization">Sortowanie: specjalizacja</a>
                <a class="dropdown-item" href="/allDoctorsBySurname">Sortowanie: nazwisko</a>
                <a class="dropdown-item" href="/allDoctorsByComments">Sortowanie: ilość opinii</a>
            </div>
        </div>

    </div>

</body>
</html>